
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;

}
.section-heading h2{
    font-size:48px ;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 1px;
}
.section-heading p{
    font-size:16px ;
    margin-top: 16px;
    margin-bottom: 40px;
    line-height: 30px;
    color: #757575;

}
nav{
    width:71%;
    max-width 364px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
nav .logo-navbar{
    width: 139px;
    max-width: 139px;
    padding: 12px 16px ;

}
nav .menu {
    display: flex;
    list-style-type: none;
    padding: 605px,34px;
    gap: 51px;
    align-items: center;
}
nav .menu a {
     font-size: 16px;
     color: #474747;
     font-weight: 500;
     text-decoration: none;

}
.banner{
    position: relative;
    height: 674px;
    background: url("./assets/hero-bg.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 120px 134px 120px;
}

.banner-content {
    position: relative;
    max-width: 900px;
    text-align: center;
    padding: 20px;
}

.badge {
    display: inline-block;
    background: #ffffff;
    color:#469165 ;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 16px;
    font-weight:500 ;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.color-white{
     color: white;
}

.highlight {
    color:#469165 ;
}

.banner p {
    font-size: 18px;
    font-weight: 400;
    color: #d0dbe5;
    margin-bottom: 30px;
}


.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.btn-primary {
    background:#469165;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size:16px ;
    font-weight: 600;
}

.btn-secondary {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size:16px ;
    font-weight: 600;
}
#features{
 padding-right: 120px;
 padding-left: 120px;
 padding-bottom: 120px;
 height: 448px;   
}


#features .features-container{
    width: 71%;
    max-width:1140px ;
    margin: 0 auto;
    
}
#features .features-container .features-box{
    display: flex;
    gap: 24px;
    
   
}
.features-box .features-card{
    /*border: 1px solid;*/
    box-shadow: 0 6px 50px 0 #00000022;
    padding: 30px;
    max-width: 267px;
    
}
.features-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.icon-box{
    background-color:#F95555 ;
    width: 60px;
    height: 60px;
    justify-content: center;
    margin-left: 40px;
}
.icon-box img {
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
}
.features-card h4{
font-size: 24px;
font-weight: 600;
color:#001931 ;
margin-bottom: 20px;
justify-content: center;
}
.features-card p{
    font-size: 16px; 
    font-weight: 400;
   color: #757575;
   line-height: 28px;
   }