
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color: #469165;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

nav{
    width:71%;
    max-width 364px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
nav .logo-navbar{
    width: 139px;
    max-width: 139px;
    /*padding: 120px 16px ;*/

}
nav .menu {
    display: flex;
    list-style-type: none;
    padding: 605px,34px;
    gap: 51px;
    align-items: center;
}
nav .menu a {
     font-size: 16px;
     color: #474747;
     font-weight: 500;
     text-decoration: none;

}
.banner{
    position: relative;
    height: 674px;
    background: url("./assets/hero-bg.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 120px 134px 120px;
}

.banner-content {
    position: relative;
    max-width: 900px;
    text-align: center;
    padding: 20px;
}

.badge {
    display: inline-block;
    background: #ffffff;
    color: #2e7d32;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.highlight {
    color: #4caf50;
}

.banner p {
    font-size: 16px;
    color: #d0dbe5;
    margin-bottom: 30px;
}


.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.btn-primary {
    background: #2e7d32;
    color: #fff;
    padding: 14px 26px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.btn-secondary {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 14px 22px;
    border-radius: 6px;
    text-decoration: none;
}